{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <title>Document</title>
</head>
<body>
    <div>@@님의 8월 점수입니다</div>
    <div>자세한 분석 결과는 버튼을 눌러주세요</div>
    <div class="bt">
        <form action="/chartData/details" method="get">
            <input type="submit" value="분석하기">
        </form>
    </div>
</body>
</html>