{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'details.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id='paper'>
        <p class='titleText'>4. 수면시간 분석</p>
        <p class='title'>일간 수면시간 그래프</p>
        <p class='smallText'>이용자님은 {{sleepLateNum}}일 늦게 주무셨네요.</p>
        <p class='smallText'>{{sleepText}}</p>
        {{sleepGraph|safe}}
        <p class='warningText'>*일간 수면시간 그래프에서 0인 날은 이용자님의 수면 기록이 없기 때문입니다.</p>
    </div>
</body>
</html>