{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'details.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id='paper'>
        <p class='titleText'>2. 운동정도 분석</p>
        <p class='title'>주간 운동 그래프</p>
        <p class='smallText'>이용자님은 {{actZeroNum}}주 운동을 쉬셨네요.</p>
        <p class='smallText'>{{actText}}</p>
        <p class='smallText'>이용자들의 전체 평균 운동 이용 횟수는 {{actAvg}}회입니다.</p>
        <p class='smallText'>이용자님은 {{actNum}}회 운동하셨습니다.</p>
        <p class='smallText'>전체 평균보다 약 {{actSub}}{{actText2}}</p>
        {{actGraph|safe}}
        <p class='smallText'>*가로축은 주간, 세로축은 주간 운동 횟수를 의미합니다.</p>
        <p class='warningText'>*주간 운동 그래프에서 0인 주간은 이용자님의 운동 기록이 없기 때문입니다.</p>
        <p class='smallText'></p>
    </div>
</body>
</html>