{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'details.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id='paper'>
        <p class='titleText'>5. 식사 분석</p>
        <p class='title'>일간 식사시간 그래프</p>
        <p class='smallText'>일간 식사시간 그래프는 이용자님의 아침, 점심, 저녁 식사 시간을 각각 세 선으로 나타낸 그래프입니다.</p>
        <p class='smallText'>이용자님의 식사 기록이 없으면 그래프로 나타나지 않기 때문에 식사 기록을 제대로 남겨주세요.</p>
        <p class='smallText'>아침 식사를 {{mealFastSlow.0}}회 일찍, {{mealFastSlow.1}}회 늦게 드셨습니다.</p>
        <p class='smallText'>점심 식사를 {{mealFastSlow.2}}회 일찍, {{mealFastSlow.3}}회 늦게 드셨습니다.</p>
        <p class='smallText'>저녁 식사를 {{mealFastSlow.4}}회 일찍, {{mealFastSlow.5}}회 늦게 드셨습니다.</p>
        {{mealGraph|safe}}
    </div>
</body>
</html>