{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'details.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id='paper'>
        <p class='titleText'>1. 활동 분석</p>
        <p class='title'>일간 활동 그래프</p>
        <p class='smallText'>일간 활동 그래프에서 정도가 0인 날은 이용자님의 활동 기록이 없기 때문입니다.</p>
        <p class='smallText'>일간 활동 그래프의 세로축은 하루 동안의 활동량입니다.</p>
        <p class='smallText'>활동량이 0에 가깝거나 0인 날이 줄어들도록 노력해주세요.</p>
        {{graph|safe}}
        <p class='title'>주간 활동 그래프</p>
        {{graph2|safe}}
    </div>
</body>
</html>