{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'details.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id='paper'>
        <p class='titleText'>6. 순이 분석</p>
        <p class='smallText'>이용자님은 {{sooniZeroNum}}일 순이와 대화가 없었어요.</p>
        <p class='smallText'>{{sooniText}}</p>
        <p class='smallText'>이용자들의 전체 평균 순이 이용 횟수는 {{sooniAvg}}회입니다.</p>
        <p class='smallText'>이용자님은 {{sooniNum}}회 사용하셨습니다.</p>
        <p class='smallText'>전체 평균보다 약 {{sooniSub}}{{sooniText2}}</p>
        {{sooniGraph|safe}}
    </div>
</body>
</html>