<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>{{user_id}}님 안녕하세요!</div>
    <div>잠시만 기다려주세요</div>
    <div class="bt">
        <!--submit type인 버튼을 누르면, 해당 id의 data를 분석한다.-->
        <form action="startData/checkData" method="get">
            <input type="submit" value="분석하기">
        </form>
        <div>{{user_id}}</div>
    </div>
</body>
</html>